
.see .text-icon-wrapper {
  position: relative; 
  z-index: 2; 
  color: #fff; 
}
.see, .see .text-icon-wrapper {
  white-space: nowrap;
}
.see::before {
  content: '';
  background: conic-gradient(transparent 270deg, white, transparent);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  width: 100%;
  animation: rotate 2s linear infinite;
}
.see::after {
  content: '';
  background: inherit;
  border-radius: inherit;
  position: absolute;
  inset: var(--offset);
  height: calc(100% - 2 * var(--offset));
  width: calc(100% - 2 * var(--offset));
}
  .see .fa-hand-point-down {
  color: #fff;
  font-size: 1.25rem;
  padding-top: 0.438rem;
  padding-bottom: 0.438rem;
  padding-left: 0.938rem;
  padding-right: 0.438rem;
}

.see:active {
  outline: 0;
}
.see:hover {
  background-color: var(--hover-color);
}
.see::before, .see::after {
  z-index: 1; 
}
.see .text-content {
  position: relative;
  z-index: 2; 
  color: #fff; 
}
.see .fa-hand-point-down {
  position: relative;
  z-index: 2; 
}
.see {
  background-color: var(--primary-color);
  color: #fff;
  border: none; 
  outline: none;

  padding: 1rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 0.188rem;

  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
position: absolute;
  text-align: center;
  transform: translateX(-50%);
  --offset: 3px; 
  overflow: hidden; 
  display: flex;
}
@keyframes rotate {
  from {
    transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
  }
  to {
    transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
  }
}
@media (max-width: 1028px)  {
  
  .see{
    font-size: 1.1rem;
    padding: 0.9rem ;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }}

@media (max-width: 760px) {
    .see{
      font-size: 1.05rem;
     
    }
    .see .fa-hand-point-down {
      font-size: 0.938rem;
    }
  }
  
  @media (max-width: 550px) {
    
    .see{
      font-size: 1rem;
      padding: 0.9rem ;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .see .fa-hand-point-down {
      font-size: 0.9rem;
    }
  }
