.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute; /* Allows absolute positioning relative to this container */
}
.info-container {

  top: 0; /* Aligns to the top of the viewport */
  right: 0; /* Aligns to the right of the viewport */
  margin: 1.25rem; /* Adds some space from the top and right edges */
  transform: translate(-6rem, 4rem);
}

.info-icon {
  /* Retain color, size, etc., but ensure it's properly aligned within the container */
  font-size: 1.75rem; /* Example size */
  color: white; /* Example color */
  cursor: pointer;
}
.info-tooltip {
  display: none;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: calc(100% + 10px); /* Updated positioning to open downwards */
  left: 50%;
  transform: translateX(-50%);

  color: #ffffff; /* Retained text color */
  padding: 1rem;

  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);

  width: max-content;
  width: 185px;
  font-size: 1rem; /* Retained font size */
  font-weight: 550;

  z-index: 99;
  text-align: center; /* Ensures text alignment */
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
.info-tooltip-font {
  font-size: 1rem;
}

.link-style-button {
  background-color: var(--primary-color); /* Retained background color */
  color: #fff; /* Retained text color */
  border: none;
  outline: none;
  padding: 0.313rem 0.938rem;
  padding-bottom: 0.438rem; /* Adjusted for visual alignment */
  border-radius: 0.188rem; /* Retained border radius */
  font-size: 1rem; /* Retained font size */
  font-weight: 550;

  cursor: pointer; /* Ensures it's clear the button is clickable */
}
.info-tooltip::before {
    content: '';
    position: absolute;
    top: -0.625rem; /* Adjust this value to position the triangle correctly */
    left: 50%;
    transform: translateX(-50%);
    border-left: 0.625rem solid transparent;
    border-right: 0.625rem solid transparent;
    border-bottom: 0.625rem solid rgba(0, 0, 0, 0.1); /* Match the tooltip's background color */
  }
  

.info-container:hover .info-tooltip {
  display: block; /* Show on hover */
}
.info-spec {
  margin-bottom: 0.25rem;
}
.link-style-button {
  /* Retain button styles */
}
@media (max-width: 1220px) {
.info-container {
  display: none;
}
  
}