.skill__square {
    display: inline;
    margin: 15px 0 !important;
  }
  .skill__square i {
    font-size: 2.813rem !important;
    color: #777 !important;
    height: 1.25rem !important;
      color: #777;
    
    
  }
  .skill__square svg {
    width: 2.188rem !important;
    min-height: 1.25rem !important;
    padding: 0;
    margin: 0;
    color: #777 !important;
  }
  .skill__square h6 {
    text-align: center;
    margin: auto;
    font-size: 1em;
    padding-top: 0.313rem;
    font-weight: 300;
  }
  .skill__square i:hover,
  .skill__square svg:hover {
    color: #95a9de!important;
  }
  .skill-item {
    flex: 1 1 12.5rem; /* Grow and shrink starting at 200px */
    min-width: 9.375rem; /* Minimum width to ensure content is readable */
    max-width: 1fr; /* Maximum width to allow filling the container */
    text-align: center; /* Center the text and/or images within the skill item */
  }
  .skill-item img {
  max-width: 100%; /* Ensure the image does not exceed its container's width */
  height: auto; /* Maintain aspect ratio */
}
@media (max-width: 1900px) {
  .skill__square i,
  .skill__square svg {
    font-size: 2.594rem !important; /* Smaller font size for icons */
   
  }
}

@media (max-width: 1500px) {
  .skill__square i,
  .skill__square svg {
    font-size: 2.125rem !important; /* Smaller font size for icons */
   
  }
}

