.parallax {
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../Images/FooterImg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.git-form {
  width: 72.5rem;
  box-sizing: border-box;
  display: block;
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 4.5rem;
  max-height: 80vh;
  padding: 2rem;
  padding-top: 1rem;
}
.git-head-div {
  box-sizing: border-box;
  color: #fff;
  font-weight: 500;
}
.git-cont {
  display: inline-block;
  padding-top: 0.5rem;
}

.git-cont .fab {
  font-size: 2.188rem;
  height: 2.188rem;
  text-align: center;
  text-decoration: none;
  color: var(--primary-color);
  transition: 0.5;
}
.git-cont .fab:hover,
.git-cont .fas:hover {
  color: var(--hover-color);
}
.git-cont .fas {
  vertical-align: bottom;
  font-size: 2.5rem;
  height: 1.875rem;
  margin: 1.563rem;
  text-align: center;
  text-decoration: none;
  color: var(--primary-color);
  transition: 0.5;
}
.git-cont .fab,
.git-cont .fas {
  font-size: 1.875rem;
  margin: 1.563rem;
}

.lead {
  font-weight: 400;
  margin-left: 2rem;
  margin-right: 2rem;
}
.half p {
  text-align: center;
  color: #fff;
}
.half {
  display: inline-block;
  vertical-align: top;
}
.half form input,
textarea {
  width: 100%;
  margin: 0.625rem;
  padding: 0.625rem;
  border-radius: 0.313rem;
  outline: 0;
  box-shadow: none;
  border: 1px solid #777;
  background-color: #ffffff;
}
.half form textarea {
  padding-bottom: 2.813rem;
}
.half form input:focus,
textarea:focus {
  border-radius: 0.313rem;
  outline: 0;
  box-shadow: none;
  border: 1px solid var(--primary-color);
}
.half form button {
  padding: 0.625rem 0.938rem;
  font-size: 1rem;
  border-radius: 2rem;
  color: #fff;
  background-color: var(--primary-color);
  box-shadow: none;
  outline: 0;
  border: none;
  margin-top: 1.25rem;
  margin-left: 0.625rem;
}
.half form button:hover {
  background-color: var(--hover-color);
}
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inline-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}
.inline-block a i {
  font-size: 1.5rem;
  vertical-align: middle;
}

@media (max-width: 1900px) {
  .git-form {
    width: 1000px;
  }
  .git-head-div {
    font-size: 1.8rem;
  }
  .git-head {
    white-space: nowrap;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .lead {
    font-size: 0.95rem;
  }

  .half form input,
  .half form textarea,
  .half form button {
    font-size: 0.9rem;
  }

  .col-12.col-sm-6.half {
    padding: 0 0.938rem;
  }

  .half p {
    font-size: 1.4rem;
  }
}
@media (max-width: 1500px) {
  .git-form {
    width: 800px;
  }
}
/* 1 between  @1500px */
@media (max-width: 1260px) {
  .git-form {
    width: 650px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .git-head-div {
    font-size: 1.5rem;
    padding-bottom: 1.25rem;
  }
  .git-head {
    font-size: 2rem;
  }
  .git-cont .fab,
  .git-cont .fas {
    font-size: 1.75rem;
  }
  .lead {
    font-size: 0.9rem;
  }
  .half form input,
  .half form textarea {
    font-size: 0.9rem;
    padding: 0.75rem;
  }

  .half form button {
    font-size: 0.9rem;
    padding: 0.625rem 1.25rem;
  }
  .watermark {
    font-size: 0.95rem;
  }
}

@media (max-width: 760px) {
  .lead {
    display: none;
  }
  .git-form {
    width: 500px;
  }
  .git-head-div {
    padding-bottom: 0;
  }
  .git-form {
    padding-bottom: 0rem;
  }
  .half form button {
    display: flex;
    align-self: center; 
    margin: 0 auto; 
    margin-top: 20px;
  }
  .inline-block {
    margin-top: 15px;
  }
  .watermark {
    font-size: 0.88rem;
  }
}

@media (max-width: 360px) {
  .git-form {
    max-width: 90%;
  }
}
