.Header {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Montserrat, sans-serif;
}
.Header h1 {
  text-align: center;
  font-size: 5.5rem;

  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1rem;

  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  font-weight: 660;
  display: flex;

  grid-row: 2 / 3;
  align-self: center;
}

.line-1 {
  position: relative;
  top: 10%;
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: 550;
  color: #fff;
  text-align: center;
  padding: 1rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  font-size: 2.1rem;
  transform: translateY(-50%);
  font-family: "Anonymous Pro", monospace !important;
  grid-row: 3 / 4;
  align-self: center;
}
/* OMIT btn styles? */
.link-style-button {
  background-color: var(--primary-color);
  color: #fff;
  border: #000;
  outline: #000;
  padding: 5px 15px;
  padding-bottom: 7px;
  border-radius: 3px;
  margin-top: 1rem;
}

.link-style-button:hover {
  background-color: var(--hover-color);
}

.link-style-button:active {
  outline: 0;
}
.Header-grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: start;
  height: 100vh;
}
.HeaderButton {
  grid-row: 4 / 5;
  margin: 5%;
}

@media (max-width: 1260px) {
  .Header h1 {
    font-size: 4.5rem;
  }
  .Header p {
    font-size: 1.7rem;
  }
  .line-1 {
    font-size: 80%;
  }
}
@media (max-width: 1028px) {
  .Header h1 {
    font-size: 4.1rem;
  }
  .Header p {
    font-size: 1.5rem;
  }
  .line-1 {
    font-size: 80%;
  }
}

@media (max-width: 760px) {
  .Header h1 {
    font-size: 3.5rem;
  }
  .Header p {
    font-size: 1.3rem;
  }
}
@media (max-width: 550px) {
  .Header h1 {
    font-size: 3rem;
  }
  .Header p {
    font-size: 1.15rem;
  }
}
/*above here fr*/

/*dunno here on */
@media (max-width: 434px) {
  .Header h1 {
    font-size: 2.5rem;
  }
  .Header p {
    font-size: 0.95rem;
  }
}
@media (max-width: 365px) {
  .Header h1 {
    font-size: 2rem;
  }
  .Header p {
    font-size: 0.76rem;
  }
}
@media (max-width: 300px) {
  .Header h1 {
    font-size: 1.5rem;
  }
  .Header p {
    font-size: 0.58rem;
  }
}
@media (max-height: 800px) {
  .Header-grid {
    grid-template-rows: 0.5fr 1fr 1fr 1fr; /* Adjust grid row sizing for a more compact layout */
  }
  
}
@media (max-height: 620px) {
  .Header-grid {
    grid-template-rows: 0fr 1fr 1fr 1fr; /* Adjust grid row sizing for a more compact layout */
  }
  
}